/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

@import url("./assets/css/common.css"); 

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background-color: azure; */
     background: linear-gradient(0deg, rgba(34,195,185,1) 0%, rgba(162,153,255,1) 100%);
 }

 
